[buildout]
extensions = mr.developer
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
auto-checkout = *

allow-hosts +=
    robotframework.googlecode.com
    code.google.com

package-name = gisweb.iol
package-extras = [test]

parts += omelette robot

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
Products.CMFPlomino = git https://github.com/plomino/Plomino.git
gisweb.plominofields = git ssh://projects.gisweb.it/opt/repositories/gisweb.plominofields
gisweb.plominofieldextensions = git ssh://projects.gisweb.it/opt/repositories/gisweb.plominofieldextensions
gisweb.utils                    = git ssh://projects.gisweb.it/opt/repositories/gisweb.utils

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[ride,speak,reload]
scripts =
    robot-server
    robot
    ride
    pybot
